Sphinx==6.1.2
recommonmark==0.7.1
sphinx-rtd-theme==1.1.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-httpdomain==1.8.1
pyyaml==6.0
aafigure==0.6
packaging==22.0
pygments==2.14.0 # not directly required, pinned by Snyk to avoid a vulnerability
