Sphinx==4.3.1
recommonmark==0.7.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-napoleon==0.7
sphinxcontrib-httpdomain==1.8.0
pyyaml==6.0
aafigure==0.6
packaging==21.3
pygments==2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
